body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    width: 500px;
    margin: 40px auto;
    color: #333;
  }

  div,
  fieldset {
    margin-top: 20px;
  }
  
  fieldset {
    border: none;
    padding: 0;
  }
  
  button {
    padding: 10px 15px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: lightblue;
  }
  
  p.story {
    background-color: white;
    padding: 15px;
    margin-top: 20px;
    visibility: hidden;
  }
  