body {
    font-family: "Trebuchet MS", "Segoe UI", sans-serif;    background-color: white;
    width: 500px;
    margin: 40px auto;
    color: #333;
  }

  div,
  fieldset {
    margin-top: 20px;
  }
  
  fieldset {
    border: none;
    padding: 0;
  }
  
  button {
    padding: 10px 15px;
    background-color: pink;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: lightblue;
  }
  
  p.story {
    background-color: pink;
    padding: 15px;
    margin-top: 20px;
    visibility: hidden;
  }
  